{% extends "base.html" %}
{% load compressed %}

{% block head %}
{{ block.super }}
<title>MapFasten</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% endblock %}

{% block style %}
{{ block.super }}
{% compressed_css "external" %}
{% compressed_css "geocamTiePoint_css" %}
{% endblock style %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
// this line needs to be here otherwise views.js won't get it
window.csrf_token = "{% csrf_token %}";
</script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
{% compressed_js "external" %}

{% compressed_js "geocamTiePoint_js" %}

{% compressed_js "geocamTiePoint_backbone" %}

    <script type="text/javascript">
        $(function($){

            window.settings = {{settings|safe}};

            app.overlays = app.overlays || new app.models.OverlayCollection;
            {% if initial_overlays_json %}
            // Seed app.overlays with initally loaded data
            var overlay_bootstrap = {{ initial_overlays_json|safe }};
            app.overlays.reset(overlay_bootstrap);
            {% endif %}

            app.navbar = new app.views.NavbarView({el: $('#navbar').addClass('navbar')});
            app.navbar.render();

            app.router.start(); // initializes the app view based on url fragment.
        });
    </script>

{% endblock scripts %}

{% block header %}
{%comment%}{{block.super}}{%endcomment%}
<div id="navbar" class="navbar"></div>
{% endblock header %}

{% block contents %}
<div id='backbone_app_container'>
</div>
{% endblock contents %}

{% block jsInit %}
{{ block.super }}
$(
);
{% endblock jsInit %}
