{% extends "base.html" %}
{% load templatetag_handlebars %}

{% block head %}
{{ block.super }}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% block handlebars %}
    {% comment %} 
    Handlebar templates go here. e.g.:
    {% tplhandlebars "tpl-infos" %}
        {{total}} {% trans "result(s)." %}
        <p>{% trans "Min" %}: {{min}}</p>
        <p>{% trans "Max" %}: {{max}}</p>
    {% endtplhandlebars %}
    {% endcomment %}
    {% include "geocamTiepoint/handlebars.html" %}
{% endblock handlebars %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/static/external/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/external/js/handlebars-1.0.0.beta.6.js"></script>
<!--<script type="text/javascript" src="/static/external/js/ember-1.0.pre.min.js"></script>-->
<script type="text/javascript" src="/static/external/js/ember-1.0.pre.js"></script>
<script type="text/javascript" src="/static/external/js/ember-data.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>

<script type="text/javascript" src="/static/geocamTiePoint/js/app.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/router.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/models.js"></script>

<script type="text/javascript" src="/static/geocamTiePoint/js/util.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/AlignTiePoints.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/ChooseAlignmentMethod.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/EditInfo.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/NewMapOverlay.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/PlaceTiePoints.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/ViewPage.js"></script>
{% endblock scripts %}

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block contents %}
{% tplhandlebars "application" %}
    <h1>This is the Application Template</h1>
    {{outlet}}
{% endtplhandlebars %}
{% endblock contents %}

{% block jsInit %}
{{ block.super }}
$( 
    function() { 
        App.initialize(App.Router.create()); 
    } 
);
{% endblock jsInit %}
