{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="/static/geocamTiePoint/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/handlebars-1.0.0.beta.6.js"></script>
<!--<script type="text/javascript" src="/static/geocamTiePoint/js/ember-1.0.pre.min.js"></script>-->
<script type="text/javascript" src="/static/geocamTiePoint/js/ember-1.0.pre.js"></script>

<script type="text/javascript" src="/static/geocamTiePoint/js/app.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/models.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/router.js"></script>

<script type="text/javascript" src="/static/geocamTiePoint/js/views/AlignTiePoints.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/ChooseAlignmentMethod.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/EditInfo.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/NewMapOverlay.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/PlaceTiePoints.js"></script>
<script type="text/javascript" src="/static/geocamTiePoint/js/views/ViewPage.js"></script>
{% end block %}
