{% load templatetag_handlebars %}

{% comment %} 
Handlebar templates go here. e.g.:
{% tplhandlebars "tpl-infos" %}
    {{total}} {% trans "result(s)." %}
    <p>{% trans "Min" %}: {{min}}</p>
    <p>{% trans "Max" %}: {{max}}</p>
{% endtplhandlebars %}
{% endcomment %}

{% comment %}{% tplhandlebars "_application" %}{% endcomment %}
{% verbatim %}
<script type="text/x-handlebars" data-template-name="_application">
    <span class="debug">This is the Application Template</span>
</script>
{% endverbatim %}
{% comment %}{% endtplhandlebars %}{% endcomment %}

{% comment %}{% tplhandlebars "overlay_list" %}{% endcomment %}
{% verbatim %}
<script type="text/x-handlebars" data-template-name="overlay_list">
    <span class="debug">This is OverlayList</span>
    <ul id="overlay_list">
    {{#each overlay in controller}}
      <li><a {{action showOverlayAction overlay target="App.router" href=true}}>{{overlay.name}}</a></li>
    {{/each}}
    </ul>
</script>
{% endverbatim %}
{% comment %}{% endtplhandlebars %}{% endcomment %}

{% comment %}{% tplhandlebars "overlay_align" %}{% endcomment %}
{% verbatim %}
<script type="text/x-handlebars" data-template-name="overlay_align">
    <span class="debug">This is overlay_align</span>
    <div class="map" id="map_canvas"></div>
</script>
{% endverbatim %}
{% comment %}{% endtplhandlebars %}{% endcomment %}
