{% load templatetag_handlebars %}

{% comment %} 
Handlebar templates go here. e.g.:
{% tplhandlebars "tpl-infos" %}
    {{total}} {% trans "result(s)." %}
    <p>{% trans "Min" %}: {{min}}</p>
    <p>{% trans "Max" %}: {{max}}</p>
{% endtplhandlebars %}
{% endcomment %}

{% tplhandlebars "_application" %}
    <span class="debug">This is the Application Template</span>
{% endtplhandlebars %}

{% tplhandlebars "overlay_list" %}
    <span class="debug">This is OverlayList</span>
    <ul id="overlay_list">
    {{#each overlay in controller}}
      <li><a {{action alignOverlayAction overlay target="App.router" href=true}}>{{overlay.name}}</a></li>
    {{/each}}
    </ul>
{% endtplhandlebars %}

{% tplhandlebars "overlay_align" %}
    <span class="debug">This is overlay_align</span>
    <div class="map" id="map_canvas"></div>
{% endtplhandlebars %}
