{% extends "base.html" %}

{% block head %}
<title>Overlay Index</title>
{% endblock head %}

{% block contents %}
<h3>Overlays</h3>
<div style="margin-bottom:8px;">[<a href="{% url geocamTiePoint_overlayNew %}">New Overlay</a>]</div>
<table>
  {% for overlay in overlays %}
  <tr>
    <td><a href="{{ overlay.key }}">{{ overlay.name }}</a></td>
    <td><a href="{{ overlay.key}}">edit</a></td>
    <td><a href="{{ overlay.key}}/delete/">delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock contents %}
