<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- Grace's javascript matrix library -->
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/align_images.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/f1dim.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/func.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/golden.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/linmin.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/matrix.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/mnbrak.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/myLibrary.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/powell.js"></script>
    <script type="text/javascript" src="/Users/yeonjinlee/tiePointPicker/geocamTiePoint/static/geocamTiePoint/js/run.js"></script>
    <script type="text/javascript">
//image to spherical mercator (p is spherical mercator)
//xp1 = x1
//x1 = x2

    var xp1 = 101.2485; var yp1 = 70.9737;  var x1 = 185.3684; var y1=103.7895;
    var xp2 = 331.3421; var yp2 = 191.4415; var x2 = 305.1053; var y2=255.1053;
    var xp3 = 378.3246; var yp3 = 33.6287;  var x3 = 391.9474; var y3=190.6316;
    var xp4 = 142.2076; var yp4 = 76.9971;  var x4 = 247.2105; var y4=110.3684;

    var points = new Array ();
    points[0] = new Array (xp1,yp1,x1,y1);
    points[1] = new Array (xp2,yp2,x2,y2);
    points[2] = new Array (xp3,yp3,x3,y3);
    points[3] = new Array (xp4,yp4,x4,y4);

    console.log("in test.html");
    var transformMatrix = generateMatrix(points, points.length);
    console.log("transformMatrix: "+transformMatrix);
    </script>
    <body></body>
  </head>
</html>
