#navlist {
    padding-left: 0px;
}

.nav_pad_vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}

#backbone_app_container {
    height: 100%;
    width: 100%;
}

#image_canvas {
    height: 100%;
    width: 100%;
}

input#locationSearch {
    width: 160px;
}

/* Map marker labels */
.labels {
    text-align: center;
    width: 40px;
    font-size: 10px;
}


.vsplitbar,.splitter-bar-vertical{
    width: 12px;
    background: #aaa;
    cursor: col-resize;
}

#split_container {
    width: 100%;
    height: 100%;
    border: 4px solid #aaa;
}

#split_left, #split_right, #map_canvas, #image_canvas {
    height: 100%;
}
